.page-nav {
    background: #3e393d;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 0;
    padding: 0;
    
    li {
        list-style: none;
        flex-grow: 1;
        text-align: center;
        
        a {
            display: block;
            color: #ddd;
            padding: 13px 0;
        }
    }
}